<form action='/sessions' method='post'>
<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
<input type='hidden' name='_method' value='delete'>
<input type='submit' value='Log Out'>
</form>

<h3> Name: <%= @borrower.fname %> <%= @borrower.lname %> </h3>
<h4> Amount Needed: $<%= @borrower.money %> </h4> 
<h4> Amount Raised: $<%= @borrower.raised %></h4> 

<p> List of people who lent you money </p>
<table border="1">
<thead>
    <tr>
        <td> Name </td>
        <td> Email </td>
        <td> Amount Lent </td>
    </tr>
</thead>
<tbody>
    <% @borrower.lends.each do |l| %>
        <tr>
            <td><%= l.lender.fname %> </td>
            <td><%= l.lender.email %> </td>
            <td>$<%= l.amount %> </td>
        </tr>
    <% end %>
</tbody>
</table>